body {
    margin: 0px;
}
header {
    height: 40px;
    background-color: grey;
    color: white;
    margin: 0px auto;
    font-family:fantasy;
}

span {
    margin-left: 30px;
}

.headerdiv {
    line-height: 45px;
}

.headerdiv, .container {
    width: 80%;
    max-width: 1000px;
    min-width: 250px;
    margin: auto;
}

.container {
    padding: 20px;
}

.column {
    display: inline-block;
    padding: 0px 2%;
}

.left {
    width: 45%;
}

.right {
    width: 45%;
    vertical-align: top;
    padding-top: 25px;
}

img {
    width: 100%;
}

footer {
    height: 30px;
    background-color: grey;
    color: white;
    font-family:fantasy;
    margin: 0px auto;
}

html,
body {
	margin:0;
	padding:0;
	height:100%;
}
#wrapper {
	min-height:100%;
	position:relative;
}
#header {
	background:#ededed;
	padding:10px;
}
#content {
	padding-bottom:30px; /* Height of the footer element */
}
#footer {
	background:grey;
	width:100%;
	height:30px;
	position:absolute;
	bottom:0;
	left:0;
}
